[submodule "time2feat"]
	path = time2feat
	url = https://github.com/giacomoguiduzzi/time2feat.git
[submodule "FeatTS"]
	path = FeatTS
	url = https://github.com/giacomoguiduzzi/FeatTS.git

[submodule "jqm_cvi"]
	path = jqm_cvi
	url = https://github.com/jqmviegas/jqm_cvi.git
